*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	background-color: #ccc;
	font-family: "Momo Trust Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}
#container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#header{
	width: 100%;
	background-color: lightcyan;
	height: 100px;
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 0px 15px;
}
#header a{
	text-decoration: none;
	color: black;
}
.logo{
	width: 70px;
	height: 70px;
	background-image: url(../img/logo.png);
	background-size: contain;
	margin-right: auto;
}
#hero{
	width: 100%;
	background-color: lightpink;
	display: flex;
	justify-content: center;
	padding: 25px 0px;
}
h1{
	font-size: 40pt;
}
.vr-content{
	background-color: black;
	width: 70%;
	height: 400px;
}
#map{
	width: 100%;
	background-color: lightcoral;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.map-section{
	width: 50%;
	padding: 50px;
}
#examples{
	width: 100%;
	background-color: lightskyblue;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px 0px;
	padding: 20px 0px;
}
.example-section{
	width: 30%;
	padding: 50px;
	background-color: orange;
	border-radius: 10px;
}
.image-holder{
	background-color: blue;
	width: 100%;
	height: 600px;
}
#footer{
	width: 100%;
	background-color: lightsteelblue;
}
@media screen and (max-width: 1080px){
	.example-section{
		padding: 20px;
	}
	.image-holder{
		height: 300px;
	}
}
/*Mobile Media Quieries*/
@media screen and (max-width: 700px){
	#container, #header, #map, #examples, #footer {
		flex-direction: column;
	}
}